

<header class="p-1 text-bg-dark"></header>
<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap" />
            </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        {% if user.is_authenticated %}
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.first_name %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </a>
                <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="{% url 'profile' %}">پروفایل</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">خروج</button>
                </form></li>
                </ul>
            </div>
        {% else %}
            <div class="text-end">
                <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
                <a href="{% url 'register' %}" class="btn btn-warning">Sign-up</a>
            </div>
        {% endif %}
    </div>
</div>
</header>